$color-white: #FFFFFF;
$color-black: #000000;

$color-main-1: #BDE8E8;
$color-main-2: #559393;
$color-main-4: #226666;
$color-main-5: #053939;
$color-main-6: #000B0B;

$color-error-red: #D6504A;
$color-success-green: #45D290;
$color-warning-orange: #F7CB15;
$color-info-blue: #3454D1;