@import 'leftColumnVariables.scss';


//poprawic box-shadow
//dodac variable na font-size
.left-column {
    text-align: center;
    background-color: $left-column-background-color;
    color: $left-column-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px 8px #ceaeae;
    z-index: 1;

    &__top-panel {
        min-height: 20%;
        font-size: 12px;
        border-bottom: 1px white;
        text-align: start;
        border-bottom: 1px solid white;
        padding: 14px;
    }
    &__bottom-panel {
        min-height: 80%;
        font-size: calc(6px + 2vmin);
        //padding: 14px;
    }
}