@import 'mainPanelVariables.scss';

//TODO zmienic wartosci na design system

.main-panel {
    text-align: center;
    background-color: $main-panel-background-color;
    color: $main-panel-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        //min-height: 10%;
        font-size: calc(10px + 2vmin);
        border-bottom: 1px solid white;
        width: 100%;
        height: 100px;
    }
    &__body {
        //min-height: 90%;
        font-size: calc(10px + 2vmin);
    }
}